// font-family(basic)
// $yugo: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
$yugo: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
// $yumin: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$noto_sans: 'Noto Sans JP', sans-serif;
// $noto_serif: 'Noto Serif JP', serif;
// $ryumin: a-otf-ryumin-pr6n, serif;
// $ryumin_regular: 300;

// $ie: "Meiryo", sans-serif;
// font-family(optional)
// $yugo: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
// $oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;
// $futura: futura, 'Century Gothic', sans-serif;
// $tsukushi: fot-tsukuardgothic-std, sans-serif;
// $roboto: 'Roboto', sans-serif;
// $roboto_c: 'Roboto Condensed', sans-serif;
// $montserrat: 'Montserrat', sans-serif;
// $gibbs: gibbs, sans-serif;
// $light: 300;
// $book: 400;
// $bold: 700;
// $black: 900;
// $saira: 'Saira', sans-serif;
// $teko: 'Teko', sans-serif;
$raleway: 'Raleway', sans-serif;
// $rogue_sans_ext: rogue-sans-ext, sans-serif;

// font-weight
// $light: 300;
$regular: 400;
$medium: 500;
// $bold: 700;
// $boldest: 900;

// color
$color_base: #000;
$water: #00AEC4;
$water2: #EDF5F5
// $red1: #ed2227;

// width
// $inner: 980;
// $inner_sp: 600;


