.c-title1{
    span{
        display: block;
        &.en{
            font-size: 6.6rem;
            font-family: $raleway;
            font-weight: bold;
            line-height: calc(55 / 66);
            letter-spacing: .1em;
            @include sp{
                font-size: 5.6rem;
                line-height: 1;
            }
        }
        &.ja{
            margin-top: 2rem;
            color: $water;
            font-size: 1.8rem;
            line-height: calc(26 / 18);
            @include sp{
                margin-top: 1rem;
            }
        }
    }
}

.c-title2{
    padding: .4rem 0;
    background-color: #EDF5F5;
    border-radius: 2rem;
    font-size: 1.8rem;
    font-weight: $medium;
    text-align: center;
}