@charset "utf-8";
// config ------------------------------------------------------------
@import "partials/config/_variable";
@import "partials/config/_breakpoint";

.privacy-content{
    padding: 10rem 0 16rem;
    @include sp{
        padding: 6rem 0 10rem;
    }
    &__inner{
        @include sp{
            padding: 0 10px;
        }
    }
    &__body{
        padding: 8rem 0 7rem;
        background-color: #fff;
        box-shadow: 0 4px 24px rgba(0,0,0,.15);
        @include sp{
            padding: 4rem 0 1.4rem;
        }
        .c-inner{
            @include sp{
                padding: 0 20px;
            }
        }
        h2{
            margin-bottom: 4rem;
            color: $water;
            font-size: 2.4rem;
            line-height: calc(20/24);
            letter-spacing: .06em;
        }
        p{
            margin: 2.8rem 0;
        }
    }
}